.article {
  background-color: #060b28;
  color: #fff;
}

.article-main {
  margin: 50px 0;
  padding: 50px 0;
  border-bottom: 1px solid #fff;
}
.search__type--main {
  width: 250px;
  background-color: #0a1241;
  border-radius: 5px;
  display: flex;
  overflow-x: scroll;
}

.search__type--main::-webkit-scrollbar-thumb {
  background: #c63f35;
  border-radius: 5px;
}

.search__type--main::-webkit-scrollbar {
  background-color: #1c265b;

  width: 8px;
  height: 8px;
}

.search__article {
  margin-bottom: 30px;
  display: grid;
  grid-gap: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #fff;
}

.form__serch {
  display: grid;
  grid-gap: 20px;
}

.main-form {
  display: flex;
  gap: 10px;
}

.input {
  border: none;
  background-color: rgb(10, 18, 65);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}

.search__btn {
  width: 15px;
}

.type__writer {
  font-weight: bold;
  padding-right: 5px;
  display: block;
  white-space: nowrap;
  border-right: 2px solid;
  width: 19ch;
  animation: typing 3s steps(16), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.pokemon-article {
  margin: 60px 0;
}

.button__input--search-article {
  padding: 8px;
}

.button__home {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 8px 10px;
  width: 145px;
}

.button__home img {
  width: 23px;
}

.card__pokemon div:nth-child(6) button {
  padding: 15px 0;
}

@media screen and (min-width: 320px) {
  .search__article {
    display: grid;
    align-items: center;
  }
}

@media screen and (min-width: 425px) {
  .input {
    height: 20px;
  }

  .form__search--pokemon {
    margin-top: -20px;
  }

  .search__type--main {
    width: 280px;
  }
}

.icon__button--page {
  width: 20px;
}

.btn-article-pagination {
  width: 100px;
  display: flex;
  justify-content: center;
  padding: 8px;
}

.main__button--page {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.icon__button--page {
  padding: 0px 5px;
}

@media screen and (min-width: 600px) {
  .form__serch {
    display: grid;
    justify-content: flex-start;
  }

  .search__article {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: flex-end;
  }

  .form__search--pokemon {
    display: flex;
    justify-content: end;
  }

  .pokemon-article {
    margin: 60px 100px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .search__type--main {
    width: 450px;
  }

  .form__search--pokemon {
    margin-top: -30px;
  }

  .input {
    padding: 10px;
    width: 300px;
  }

  .pokemon-article {
    margin: 60px 200px;
  }
}

@media screen and (min-width: 1440px) {
  .search__type--main {
    width: 600px;
  }

  .input {
    width: 300px;
  }

  .pokemon-article {
    margin: 60px 300px;
  }
}
