.header__article--pokemon {
  margin-top: 50px;
  color: #fff;
}

.header__id--pokemon {
  font-weight: bold;
}

.header__type--pokemon-item,
.header__details--button,
.card__pokemon--info-major {
  text-transform: capitalize;
}

.header__details--button {
  margin: 20px 0;
}

.btn-refresh {
  margin-bottom: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon__button--header {
  padding: 10px 15px;
  width: 15px;
}

.main__decoration--type {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__decoration--type::after,
.main__decoration--type::before {
  content: '';
  background-color: #fff;
  width: 100%;
  height: 1px;
  margin: 30px 0;
}

.main__decoration--type-image {
  width: 40px;
  padding: 0px 20px;
}

@media screen and (min-width: 500px) and (max-width: 1024px) {
  .header__article--pokemon {
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .header__article--pokemon {
    text-align: start;
  }

  .header__article--pokemon {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .pokemon__header {
    display: grid;
    justify-content: flex-end;
    align-items: center;
  }

  .main__decoration--type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main__decoration--type img:nth-child(2) {
    margin-top: 25px;
  }

  .main__decoration--type::after,
  .main__decoration--type::before {
    content: '';
    background-color: #fff;
    width: 1px;
    height: 100%;
    margin: 30px 0;
  }
}

.header__error {
  color: #fff;
  display: grid;
  grid-gap: 20px;
  text-align: center;
}

.header__error img {
  max-width: 100%;
  width: 300px;
  display: block;
  margin: auto;
}
