.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

.modal__container {
  height: 90%;
  overflow: scroll;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  color: #ffff;
  position: relative;
  top: 2rem;
  background-color: #000000e2;
}

.modal__container::-webkit-scrollbar-thumb {
  background-color: #c63f35;
  border-radius: 4px;
  height: 10px;
}

.modal__close-button {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  background-color: #f5f5f5;
  padding: 0.5rem 1rem;
}

.pokemon__info {
  margin-bottom: 20px;
  margin-top: 30px;
}

.pokemon__info h2 {
  text-align: center;
  margin: 0;
}

.main__stats {
  display: flex;
  align-items: center;
}

.pokemon__info--stats {
  text-transform: capitalize;
  padding: 10px 20px;
}

.state__base--info {
  padding-right: 20px;
}

.state__name {
  font-weight: bold;
  margin: 0;
}

.state__base--info-percentage {
  border-radius: 10px;
  background-color: #c63f35;
  height: 10px;
}

.card__pokemon button {
  width: 100%;
  margin-bottom: 0;
  padding: 8px 0;
  display: flex;
  justify-content: center;
  transition: 0.2s ease-in-out;
}

.more__data--info {
  margin: 30px 0;
}

.pokemon__specie,
.pokemon__ability {
  margin: 0 20px;
}

.more__data--pokemon {
  display: contents;
}

.more__data--pokemon h3 {
  text-align: center;
  margin: 30px 0;
}

.main__egg {
  display: flex;
}

.main__egg p {
  margin: 0;
  padding-right: 10px;
}

.more__data--info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 420px) and (max-width: 500px) {
  .modal__container {
    width: 90%;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .modal__container {
    width: 60%;
  }
}

@media screen and (min-width: 768px) {
  .modal__container {
    height: 70%;
    width: 80%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    top: 4rem;
  }

  .card__pokemon button:hover {
    background-color: #b63a31;
  }
}
